:root {
  --color-calculator-primary: #35373b;
  --color-calculator-screen: #35373b;
  --color-calculator-func: #46494a;
  --color-calculator-number: #646464;

  --color-calculator-operator: #ff9f0b;
  --color-calculator-operator-dark: #d18719;
  --color-calculator-operator-border: #b6781a;

  --color-calculator-lightgrey: #bdbdbd;
  --color-calculator-button-border: #797979;

  --color-background-body: #eeebea;
}
