.test {
  background-color: darkcyan;
}

.calculator {
  width: 32rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 0 rgba(black, 0.7);
  border-radius: 5px;
  overflow: hidden;

  &__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & > * {
      height: 6rem;
      // background-color: var(--color-calculator-primary);
      color: white;
      border: none;
      font-size: 1.6rem;

      // transition: all 0.3s;

      &:focus {
        outline: none;
      }

      &:active {
        background-color: var(--color-calculator-lightgrey);
        border-top: 1px solid var(--color-calculator-button-border);
        border-left: 1px solid var(--color-calculator-button-border);
      }
    }
  }

  &__screen {
    background-color: var(--color-calculator-screen);
    border: 0;
    width: 100%;
    height: 6rem;
    color: white;
    text-align: right;
    font-size: 2.5rem;
    padding: 0 2rem;

    &:focus {
      outline: none;
    }
  }

  &__clear,
  &__clock {
    background-color: var(--color-calculator-func);
  }

  &__clock {
    grid-area: 1 / 2 / span 1 / span 2;
  }

  &__number,
  &__decimal {
    background-color: var(--color-calculator-number);
  }

  &__zero {
    grid-area: 5 / 1 / span 1 / span 2;
  }

  &__operator,
  &__equal {
    background-color: var(--color-calculator-operator);
    &:active {
      background-color: var(--color-calculator-operator-dark);
      border-top: 1px solid var(--color-calculator-operator-border);
      border-left: 1px solid var(--color-calculator-operator-border);
    }
  }
}
